body { background: #ffeaf3;}
ol.carousel-indicators { display: none;}
.carousel-control-next, .carousel-control-prev{opacity: 0.6}
ol.carousel-indicators.ci { position: absolute; top: 35px;  display: flex;}
section.container-fluid.mt-5 { margin-top: 147px !important;}/*輪播離導覽列7%*/
/*以下是css愛心*/
.carousel-indicators .active{/*讓心跳動*/
	webkit-animation: heart-jump 1s infinite ease-out;
	-moz-animation: heart-jump 1s infinite ease-out;
	-o-animation: heart-jump 1s infinite ease-out;
	animation: heart-jump 1s infinite ease-out;
}
.carousel-indicators .active::before{
	content: "";
	position: absolute;
	left: 70px;
	top: 0;
	width: 20px;
	height: 65px;
	background:#ff5c9f;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	transform-origin: left bottom;
}
.carousel-indicators .active::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 65px;
	background:#ff5c9f;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: right bottom;
	-moz-transform-origin: right bottom;
	-o-transform-origin: right bottom;
	transform-origin: right bottom;
}
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;left: 7px !important;
    display: inline-block;
    width: 100%;
    height: 27px !important;
    content: "";
}
.carousel-indicators li::after {
    position: absolute;
    bottom: 88px;
    left: /*51px !important*/-12px !important;
    display: inline-block;
    width: 100%;
    height: 27px !important;
    content: "";
}
/*讓心跳動*/
@-webkit-keyframes heart-jump {
	0%, 60%, 75%, 90%, 100% {-webkit-transform: scale(1);}
	15% {-webkit-transform: scale(0.6);}
	30% {-webkit-transform: scale(1);}
	45% {-webkit-transform: scale(0.7);}
}
@-moz-keyframes heart-jump {
	0%, 60%, 75%, 90%, 100% {-moz-transform: scale(1);}
	15% {-moz-transform: scale(0.6);}
	30% {-moz-transform: scale(1);}
	45% {-moz-transform: scale(0.7);}
}
@-o-keyframes heart-jump {
	0%, 60%, 75%, 90%, 100% {-o-transform: scale(1);}
	15% {-o-transform: scale(0.6);}
	30% {-o-transform: scale(1);}
	45% {-o-transform: scale(0.7);}
}
@keyframes heart-jump {
	0%, 60%, 75%, 90%, 100% {transform: scale(1);}
	15% {transform: scale(0.6);}
	30% {transform: scale(1);}
	45% {transform: scale(0.7);}
}
.carousel-indicators.ci li { width: 15px; height: 15px;  margin-left: 1%;}
.carousel-inner.rounded { background: #ffe4ef;  color: #e33fa1eb;  font-size: 1.2rem;}
.border-bottom.left { border-bottom: 3px solid #fbcbdf!important;  width: 42%;  position: relative;  top: 28px; left: 2%;}
.border-bottom.right {border-bottom: 3px solid #fbcbdf!important;  width: 42%;  position: relative;  top: 25px; left: 56%;}
.text-center.pt-3.pb-1 {  font-size: 2.2rem;  color: #ff5c9f;}
.sun_banner { width: 100%; height: 550px;  background: -webkit-linear-gradient(#ffeaf3, #ffbfbf);  background: -o-linear-gradient(#ffeaf3, #ffbfbf);  background: -moz-linear-gradient(#ffeaf3, #ffbfbf);
 background: linear-gradient(#ffeaf3, #ffbfbf);} /*JQuery 輪播外掛背景更改顏色*/
.Yl-container .Yl-pagination span {  background: #ff5c9f; border-radius: 50%; width: 1%; height: 84%;}/*JQuery 輪播外掛導覽更改顏色*/
object.coffee {  width: 26%;  position: absolute;  top: 80px;  left: 50%;  animation-name: upword; animation-duration: 5s;	animation-timing-function: ease-in;
	animation-delay: 0s;}/*產品圖動畫設定*/
@keyframes upword {
	0%, 60%, 75%, 90%, 100% {-webkit-transform: scale(1);}
	15% {-webkit-transform: scale(0.6);}
	30% {-webkit-transform: scale(1);}
	45% {-webkit-transform: scale(0.7);}
}
@keyframes upword {
	0%, 60%, 75%, 90%, 100% {-moz-transform: scale(1);}
	15% {-moz-transform: scale(0.6);}
	30% {-moz-transform: scale(1);}
	45% {-moz-transform: scale(0.7);}
}
@keyframes upword {
	0%, 60%, 75%, 90%, 100% {-o-transform: scale(1);}
	15% {-o-transform: scale(0.6);}
	30% {-o-transform: scale(1);}
	45% {-o-transform: scale(0.7);}
}
@keyframes upword {
  	0%, 60%, 75%, 90%, 100% {-webkit-transform: scale(1);}
	15% {-webkit-transform: scale(0.6);}
	45% {-webkit-transform: scale(0.7);}
}
.Yl-container .Yl-wrapper .Yl-slide.Yl-0 .Yl-font0,.Yl-container .Yl-wrapper .Yl-slide.Yl-1 .Yl-font0,.Yl-container .Yl-wrapper .Yl-slide.Yl-2 .Yl-font0,.Yl-font0.fadeInUp.act {
    font-size: 48px;  color: #ff5c9f;  margin-top: 80px;} /*產品介紹區*/
.Yl-container .Yl-wrapper .Yl-slide .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide .Yl-font1, .Yl-container .Yl-wrapper .Yl-slide .Yl-font2,.Yl-font0.fadeInUp.act {
    width: 1200px;  height: auto;  text-align: left;  margin: 50px auto;}
.Yl-container .Yl-wrapper .Yl-slide.Yl-2 .Yl-font1,.Yl-font1.fadeInUp.act,.Yl-font2.slideInLeft.act {
    font-size: 36px;  color: #fff;  margin-top: 30px;}
.Yl-container .Yl-Button1 a {
    display: inline-block;  width: 150px;  height: 45px;  line-height: 45px;  font-size: 16px;  color: #fff;  text-align: center;  margin: 0 auto;  background: none;
    margin-top: 20px;  border: 1px #fff solid;  text-decoration: none;}
.Yl-container .Yl-Button1 a:hover {  background: #fff;  color: #000;}
.Yl-Button1 {  margin-left: 18%;margin-top: 4%;}
.row.shadow-sm.pb-3.rounded { background: rgba(0,0,0,.075);height: 330px !important;}
 section.container-fluid.new-bgimg.facia{
    background-image: url(../images/cupcake-2749196_640.jpg); background-repeat: no-repeat;  background-size: cover;  background-attachment: fixed;  background-position: center;
    height: 625px;
}
section.container-fluid.new-bgimg {  background: #fff;  height: 450px;}/*新品上市背景區塊*/
img.ten {  height: 50%;}
.rwd-btn{display: none;}
.row.shadow-sm.pb-3.rounded.height-box { height: 500px !important;}
img.ten2 { height: 300px;}
p.nav-link.font-weight-bold.mb-2.footer-title { font-size: 14px; line-height: 6PX; letter-spacing: 1px;}
.card.h-100.hood {
    padding: 0;
    position: relative;
}
.cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.cover:hover {
	opacity: 1;
    background: rgba(0,0,0,.5);
    transition: all 0.2s ease-in-out;
}
.text-cover {
    font-size: 2.5rem;
    letter-spacing: 3px;
    padding: 0 0 5px 3px;
    font-weight: 400;
}
.text-cover-little {
    font-size: 1.5rem;
    font-weight: 100;
}
.cove-hood {
    text-align: center;
    padding-top: 10%;
    color: #fff;
}
object.d-block.w-100.cover-img {
    margin-top: -45px;
}
footer.container-fluid.new-bg {
    position: absolute;
    top: 2640px;
    background: #ffeaf3;
}
.container-fluid.new-footer-cf-bg {
	margin-top: 44px;
    top: 2798px;
    position: absolute;
}
/*RWD*/
@media(max-width: 1420px){
.container-fluid.new-footer-cf-bg {
    margin-top: -74px;
    top: 2723px;
    box-sizing: border-box;
    position: absolute;
}
footer.container-fluid.new-bg {
    position: absolute;
    top: 2445px;
    box-sizing: border-box;
    background: #ffeaf3;
}
}
@media(max-width: 1239px){
.Yl-Button1 { margin-left: 1%; margin-top: 7%;}
section.container-fluid.mt-5 {  margin-top: 13% !important;}
}
@media(max-width: 1104px){

}
@media(max-width: 1024px){

}
@media(max-width: 992px){

}
@media(max-width: 977px){

}
@media(max-width: 768px){

}

@media(max-width: 576px){

}
@media(max-width: 496px){

}
@media(max-width:414px){
.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mt-2.hidden,.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4.mt-2.hidden { display: none;}
.container.mt-3.footerno { display: none;}
section.bgcolor-footer { background: #f3f2f2; top: 1540px; position: relative;} /*手機版的回首頁按鈕*/
.Yl-container .Yl-wrapper .Yl-slide.Yl-0 .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide.Yl-1 .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide.Yl-2 .Yl-font0, .Yl-font0.fadeInUp.act {
    margin-top: -10px !important;}
.Yl-font0.fadeInUp.act{margin-top: -3px;}
object.coffee {  width: 61%;  top: 155px;  left: 39%;}
.Yl-container .Yl-wrapper .Yl-slide.Yl-0 .Yl-font1,.Yl-container .Yl-wrapper .Yl-slide.Yl-0 .Yl-font2,.Yl-font1.r3.fadeInUp.act,.Yl-font2.slideInLeft.act {
    font-size: 5vmin;
}
.Yl-container .Yl-pagination {  bottom: 115px;}
.sun_banner { height: 450px;}
section.container-fluid.mt-5 {  margin-top: -4% !important;}




}
@media(max-width: 375px){
footer.container-fluid.new-bg,.container-fluid.new-footer-cf-bg { display: none;}
.carousel-indicators .active::before{ width: 10px;  height: 55px;}
.carousel-indicators .active::after { width: 10px;	height: 55px;}
/*控制爱心*/
.carousel-indicators li::before { position: absolute;  top: -10px; left: 5px !important;  display: inline-block;  width: 100%;  height: 17px !important;
    content: "";}
.carousel-indicators li::after {  position: absolute;  bottom: 88px;  left:-5px !important;  display: inline-block;  width: 100%;  height: 17px !important;
    content: "";}
.carousel-indicators .active{background: #ffeaf300 ;}
section.bgcolor-footer { background: #f3f2f2; top: 300px; position: relative;} /*手機版的回首頁按鈕*/
.sun_banner { height: 300px;  position: relative;  top: -62px;}
.Yl-container .Yl-wrapper .Yl-slide.Yl-0 .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide.Yl-1 .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide.Yl-2 .Yl-font0, .Yl-font0.fadeInUp.act {
    font-size: 2rem;  margin-top: -5px;}
.Yl-container .Yl-pagination {  height: 7px;  top: 270px;}
.Yl-container .Yl-wrapper .Yl-slide .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide .Yl-font1, .Yl-container .Yl-wrapper .Yl-slide .Yl-font2, .Yl-font0.fadeInUp.act {
    margin: -40px auto;}
.Yl-font1.fadeInUp.act.r3 { margin: 5% auto !important;}/*產品介紹圖第四頁*/
.Yl-font0.fadeInUp.act{margin: 0px auto!important;}/*產品介紹圖第四頁*/
.Yl-container { height: 341px;} /*產品介紹圖板面尺寸*/
.Yl-container .Yl-wrapper .Yl-slide .Yl-img0 { height: 69%;}
.Yl-container .Yl-wrapper { width: 100%; height: 85%; overflow: hidden; position: relative;}
.Yl-container .Yl-wrapper .Yl-slide .Yl-font0, .Yl-container .Yl-wrapper .Yl-slide .Yl-font1, .Yl-container .Yl-wrapper .Yl-slide .Yl-font2, .Yl-font0.fadeInUp.act {
    margin: -10px auto;
}
.Yl-font1.fadeInUp.act,.Yl-font2.slideInLeft.act{
	font-size: 5vmin !important;
}
.Yl-container .Yl-wrapper .Yl-slide.Yl-2 .Yl-font2 {
    font-size: 5vmin;
}
object.coffee {  width: 51%;   position: absolute;   top: 131px;   left: 45%;}
section.bgcolor-footer {   top: 1168px;}
.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mt-2.hidden,.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4.mt-2.hidden { display: none;}
section.container-fluid.new-bgimg {  margin-top: -16%;}
section.container-fluid.mt-5 {  margin-top: -4% !important;}
p.text-center.mt-3.rwd-btn { display: block;}/*rwd時顯示按鈕*/
p.text-center.mt-3{display: none;}/*rwd時隱藏按鈕*/
img.ten2 { height: 210px;}
.row.shadow-sm.pb-3.rounded.height-box {  height: 405px !important;}
section.container-fluid.new-bgimg.facia { height: auto;}
}
@media(max-width: 320px){
.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mt-2.hidden,.col-12.col-sm-6.col-md-4.col-lg-4.col-xl-4.mt-2.hidden { display: none;}
.row.shadow-sm.pb-3.rounded { height:320px !important} /*新品上市圖1外框*/
img.ten { height: 50%;}/*新品上市圖大小*/
p.text-center.mt-3 { margin-top: -2rem !important; margin-left: -1rem !important;}
.border-bottom.left {width: 20%;}
.border-bottom.right { width: 20%; left: 77%;}
section.bgcolor-footer { top:1080px;}/*手機模式回首頁、購物車、登入*/
section.container-fluid.new-bgimg { margin-top: -20%;}
.Yl-font1.fadeInUp.act.r3 { margin: 10% auto !important;}/*產品介紹圖第四頁(文字)*/
.Yl-font0.fadeInUp.act{margin: 0px auto!important;}/*產品介紹圖第四頁*/
.Yl-container .Yl-pagination span { width: 3%; height: 90%;}
p.text-center.mt-3.rwd-btn { display: block;}
p.text-center.mt-3{display: none;}
.text-center.pt-3.pb-1.font-weight-bold.text-facia { margin-top: -3px;}/*招牌推薦文字*/
.card-body { z-index: 9999;}
img.ten2 { height: 190px;}
.row.shadow-sm.pb-3.rounded.height-box { height: 330px !important;}
section.container-fluid.new-bgimg.facia {  height: 410px;}/*招牌區塊的背景*/
object.coffee { width: 57%;  top: 146px;  left: 45%;}
.Yl-Button1 { margin-top: 15%;}
section.container-fluid.mt-5 {  margin-top: -5% !important;}

}